<h1>Stations</h1>
<ul>
  <% @search_result.stations(10).each do |station| %>
    <li class="station"><ul>
      <li>Name: <%= station.name %></li>
      <li>Address: <%= station.address %></li>
      <li>Fuel Types: <%= station.fuel_types %></li>
      <li>Distance: <%= station.distance %></li>
      <li>Access Times: <%= station.access_times %></li>
    </ul></li>
    <hr />
  <% end %>
</ul>
